

body {
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.nav {
    background-color: rgba(255, 255, 255, 0.8);
    width : 100%;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    top: 0px;
    position: sticky;

    z-index: 2;
}


.logo {
    grid-column: 2 / 4;
    grid-row: 1;
}

.logo > img {
    all: unset;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: 5px;
    vertical-align: center;
}

.logo > h3 {
    all: unset;
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
    top: 50%;
    vertical-align: center;
    transform: translateY(-50%);
}

.menu {

    grid-column: 5 / 7;
    grid-row: 1;
}

.menu > a {
    all: unset;
    background-color: #EDF6FC;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 70px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    transition: background-color 1s, box-shadow 1s;

    cursor: pointer;
    color: black;
}

.menu > a:hover {
    background-color: #E6F9F5;
    box-shadow: 0px 0px 6px rgba(44, 44, 44, 0.3);
}



.contents {

    display: grid;
    grid-template-columns: 200px repeat(3, 1fr) 200px;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
    margin-top: 10px;
}

.item {
    background-color: #EDF6FC;
    border-radius: 10px;
    vertical-align: top;
    margin: 4px;
    transition: background-color 0.5s, box-shadow 0.5s;

    display: grid;
    grid-template: 
            "b b a" auto
            "b b d" 2ch
            "b b c" auto/ auto;
}

.item:hover {
    background-color: #E6F9F5;
    box-shadow: 0px 0px 6px rgba(44, 44, 44, 0.3);
}

.item > img {
    grid-area: b;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    height: 135px;
    width: 150px;
}

.name {
    grid-area: a;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
}

.place {
    grid-area: d;
    
    font-style: italic;
    font-size: 10px;
    margin-top: 2px;
}

.explain {
    grid-area: c;
    display: inline-block;
    font-size: 12px;
    min-height: 100px;
    width: 150px;
    margin-top: 10px;
    /* border: 5px solid darkblue;*/
}


.blank {
    background-color: white;
    
}


footer{
	width: 100%;
	padding-top: 10px;
	font-size: 15px;
	display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}